RayTracer

#A bug in one of my eclipse projects...
.classpath

.project
.settings
.cproject
*.exe
*.ppm

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/tydup13.tar
test/
